﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Danh sách thành viên trong nhóm", "loadUser1212387", "users")
        <br/>
       


    </div>
</body>
</html>
