﻿@model List<SessionMVC1212387.Models.UsersModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>listUser</title>
</head>
<body>
    <div>
        @{
            foreach (var item in Model)
            {
                <div>
                    
                    <h2>@Html.RouteLink(item.name, "Users", new { mssv = item.mssv })</h2>
                </div>
            
            
            }
        }

       

    </div>
</body>
</html>
