﻿@model SessionMVC1212387.Models.UsersModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User</title>
</head>
<body>
    <div> 
        <p>Tên:  @Html.DisplayFor(Model=>Model.name)</p>
        <br />
        <p>MSSV: @Html.DisplayFor(Model => Model.mssv)</p>
        <br />
        <p>Email: @Html.DisplayFor(Model => Model.email)</p>
    </div>
</body>
</html>
