﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("processLogin1212387", "auth", FormMethod.Post))
        {
            <p>@ViewData["loginFail"]</p>
            <fieldset>
                <div>
                    username: @Html.TextBox("username")
                </div>
                <div>
                    password: @Html.TextBox("password")
                </div>
                <div>
                    <input type="submit"  name="submit" value="Login" />
                </div>
            </fieldset>
        }
    </div>
</body>
</html>
